.App {
  width:100%; 
  height:100%; 
  float: left;
  display: block;
  display: inline-block;
  margin-top: -3%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("https://wallpaperplay.com/walls/full/7/f/f/94796.jpg");*/
  
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.align-items-center{
  margin-top: 12%;
}

.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /*opacity: 0.8;*/
  height: 10%;
}

/*Styles of the movie cards*/

.card-header img{
  border-radius:4%;
}

.card-header {
  border-bottom-color: #c1c1f0;
}

.mt-3{
  /*opacity: 0.9;*/
  transition: opacity 1s;
}

.mt-3:hover{
  opacity: 1;
  transition: opacity 1s;
}

.card-body{
  transition: background-color 0.5s ease-out;
}

.card-body:hover{
  background-color: #c1c1f0;
  transition: background-color 0.5s ease-out;
}

/*Styles of the containers forms*/

#register-container{
  max-width: 550px;
}

#login-container{
  max-width: 550px;
}
